@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

:root{
    --primary-color: #ffbe33;
    --primary-color-1: #e2a219;
    --secondary-color: #222831;
    --secondary-color-1: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Dancing Script', 'cursive';
  color: var(--secondary-color-1);
}
p{
  color: var(--secondary-color-1);

}
section, .hero-area, footer{
    margin-bottom: 5rem;
}
.hero-area{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.bg-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.bg-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-brand{
    font-family: 'Dancing Script', 'cursive';
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color-1) !important;
}
.navbar-nav li{
    padding: 0 12px;
}
.navbar-nav li a{
    text-transform: uppercase;
    color: var(--secondary-color-1) !important;
    transition: all 0.4s;
}
a.nav-link:hover , a.nav-link:focus{
    color: var(--primary-color) !important;
}

.form-inline a{
    padding: 0 8px;
}
.form-inline a i{
    color: var(--secondary-color-1);
    transition: all 0.2s;
}
.form-inline a:hover i{
    color: var(--primary-color);
}
.form-inline button, .btn-box button{
    background-color: var(--primary-color);
    color: var(--secondary-color-1);
    border-radius: 2rem;
    width: 10rem;
    height: 2.5rem;
    transition: all 0.4s;
}
.btn-box.view button{
    width: 12rem;
}
.form-inline button:hover,  .btn-box button:hover{
    color: var(--secondary-color-1);
    background-color: var(--primary-color-1);
}
@media screen and (max-width:993px) {
    .nav-item .nav-link:hover:after{ display: none;}
    .nav-item .nav-link{margin-left: 45%}
    .bg-box img{object-fit:cover; }
    .form-inline{padding-left: 10%;}
    
} 
@media screen and (min-width:993px) {
    .form-inline, .navbar-nav{
        position: absolute;
        top: 35%;
    }
    .form-inline{
        right: 0%;
    }
    .navbar-nav{
        right: 30%;
    }
} 
.nav-link{
    position: relative;
}
.nav-item .nav-link.active:after,
.nav-item .nav-link:after{
    position: absolute;
    content: '';
    height: 0.15rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 0.5rem;
    background-color: var(--primary-color);
    transition: all 0.3s;
}
.nav-item .nav-link:after, .nav-item .nav-link.active:after {
    width: 0;
}
.nav-item .nav-link:focus:after , .nav-item .nav-link:hover:after{
    width: 80%;
}

/* Carousal */
.detail-box{
    margin-top: 4.5rem;
}
.detail-box h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.detail-box h1, .detail-box p, .detail-box a{
    color: var(--secondary-color-1);
}
.detail-box p{
    font-size: 0.9rem;
}
.carousel-indicators {
    margin: 0px;
    height: 5rem;
    margin-bottom: -15%;
}

.carousel-indicators ol {
    width: 4%;
}
.carousel-indicators li {
    height: 0.9rem !important;
    width: 0.9rem !important;
    border-radius: 50% !important;
    background-color: var(--primary-color);
}


/* Offer */
.offer-item{
    height: 13rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-self: start;
}
@media screen and (max-width: 430px) {
    .offer-item .offer-img, .offer-item .offer-detail{
        display: block;
    }
}
.offer-img{
    position: relative;
    width: 33%;
    height: 85%;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    overflow: hidden;

    
}
.offer-img img{
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.offer-img img:hover{
    transform: scale(1.1);
}
.offer-detail{
    margin-top: 6%;
}
.offer-detail h4, h6{
    font-weight: 800;
}
.offer-detail h6 span{
    font-size: 2.5rem;
}
.offer-detail button i{
    opacity: 0;
    transition: all 0.5s;
}
.offer-detail button:hover i{
    opacity: 1;
}

/* Menu */
.menu h2, .title{
    position: relative;
    font-size: 2.5rem;
    font-weight:bold;
    color: var(--secondary-color) !important;
}
.menu h2::after, .menu h2::before, .title::after , .title::before{
    position: absolute;
    content: '';
   
    right: 0;
    left: 0;
    margin-left: 0.5rem;
    background-color: var(--secondary-color);
    transition: all 0.3s;
    margin: auto;
    margin-top: 2%;
}
.menu h2::before, .title::before{
    width: 5%;
    height: 0.12rem;
    bottom: -0.5rem;
}
.menu h2::after, .title::after{
    width: 10%;
    height: 0.12rem;
    bottom: -0.2rem;
}
.heading_container .title::before{
    width: 30%;
}
.heading_container .title::after{
    width: 60%;
}

 .filters_menu {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    margin: 45px 0 45px 0;
  }
  
.filters_menu li {
    padding: 7px 25px;
    cursor: pointer;
    border-radius: 25px;
  }
  
 .filters_menu li.active {
    background-color: var(--secondary-color);
    color: #ffffff;
  }

.menu-item{
    height: 26rem;
    border-radius: 0.8rem;
    background-color: var(--secondary-color);
    overflow: hidden;
}
.menu-item .menu-dish {
    background: #f1f2f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 215px;
    border-radius: 0 0 0 45px;
    margin: -1px;
    padding: 25px;
  }
  
  .menu-item .menu-dish img {
    max-width: 100%;
    max-height: 145px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .menu-item .menu-dish:hover img {
    animation: locate 1s  infinite alternate;
    animation-delay: 0s;
  }

.dish-details p{
    font-size: 0.9rem;
}
.dish-details span{
  font-family: 'Dancing Script', 'cursive';
  color: var(--secondary-color-1);
}
.menu-item .price a i{
    color: var(--secondary-color-1);
    margin-top: 10px;
}
.menu-item .price a{
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    text-decoration: none;
}


/* About */
.about{
    background-color: var(--secondary-color);
    width: 100%;
    padding-bottom: 3rem;
}

.about-img{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.about-img img{
    width: 100%;
    max-width: 445px;
    position: relative;
    z-index: 2;
}
.about-details h2{
    font-weight: 900;
    font-size: 2.4rem;
}
.about-detail{
    display: table;


}
.about-details{
    display: table-cell;
    vertical-align: middle;
}

/* Book */
.book-info {
  margin: 1em 0 1em 0;
  position: relative;
  width: 100%;
}

.book-info input {
  font-size: 100%;
  padding: 0.5em;
  outline: none;
  border: 2px solid #8d8f91;
  background-color: transparent;
  border-radius: 0.7rem;
  width: 100%;
  transition: all 0.3s;
}

.book-info label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.6em;
  margin-left: 0.7em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.book-info :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: var(--secondary-color-1);
  color: var(--secondary-color);
}

.book-info :is(input:focus, input:valid) {
  border-color: var(--secondary-color)
}
.book .map_container {
    width: 100%;
    height: 345px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .book .map_container #googleMap {
    height: 100%;
    min-height: 100%;
    width: 100%;
  }
  .book-btn{
    margin: 3rem 0;
  }
  .book-btn button{
    width: 12.5rem !important;
    height: 2.7rem;
    font-size: 1.2rem;
  }
  

  /* Clients */

  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .heading_container.heading_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 15px;
  }
  
  .client_section .box .img-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 115px;
    position: relative;
    margin-top: 30px;
  }
  
  .client_section .box .img-box img {
    border-radius: 100%;
    border: 5px solid var(--primary-color);
    position: relative;
  }
  
  .client_section .box .img-box::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    -webkit-transform: rotate(45deg) translateX(-50%);
            transform: rotate(45deg) translateX(-50%);
  }
  
  .client_section .box .detail-box {
    background-color: var(--secondary-color);
    color: var(--secondary-color-1);
    padding: 25px 25px 15px 25px;
    border-radius: 5px;
  }
  
  .client_section .box .detail-box h6 {
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 5px 0;
  }
  
  .client_section .box .detail-box p {
    margin-bottom: 0;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .client_section .owl-carousel .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
    padding: 0 15px;
  }
  
  .client_section .owl-carousel .owl-nav .owl-prev,
  .client_section .owl-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--secondary-color-1);
    outline: none;
    bottom: 0px;
    font-size: 24px;
    margin: 0 5px;
    border-radius: 100%;
  }
  

/* Footer */
.footer{
    background-color: var(--secondary-color);
    margin-bottom: 0;
}
.footer-contact, .footer-details, .timing{
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 1rem;
    
}

.contact-links a{
    display: block;
    text-decoration: none;
    color: var(--secondary-color-1);
    transition: all 0.3s;

}
.contact-links a span{
    text-transform: capitalize !;
    font-size: 1rem;
    font-weight: 500;
}
.contact-links a i{
    transition: all 0.3s;
}
.contact-links a:hover{
    color: var(--primary-color);
}
.contact-links a:hover .phone{
    animation: phone 1s ease infinite;
}
@keyframes phone {
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(-15deg);
    }
    20%, 40%, 60%, 80%, 100% {
        transform: rotate(0deg);
    }
}
.contact-links a:hover .Location{
    animation: locate 1s  infinite alternate;
    animation-delay: 0.3s;
}
@keyframes locate {
    0% { transform: translateY(0); }
    100% { transform: translateY(-7px); }
}
.contact-links a:hover .envelope{
    animation: envelope 1s ease-in-out infinite;
    animation-delay: 0.3s;
}
@keyframes envelope {
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}
.footer-details .logo{
    font-family: 'Dancing Script', 'cursive';
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--secondary-color-1) !important;
    text-decoration: none;
}
.footer-details p{
    color: #dadada;
}
.footer-social {
    display: flex;
    justify-content: center;
   
  }
  
.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: var(--secondary-color-1);
    margin: 0 2.5px;
    font-size: 18px;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  .footer-social a:hover {
    color: #ffbe33;
    transform: translate(0, -5px)
  }
  .right{
    padding: 1rem 0;
    text-align: center;
}

/* Back-to-top */
.back-to-top{
    position: fixed;
    text-align: center;
    align-items: center ;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    border: 2.5px solid var(--secondary-color);
    animation: action 1s infinite alternate;
    -webkit-animation: action 1s infinite alternate;
}
.back-to-top:hover{
    background-color: var(--secondary-color);
}
.back-to-top i{
    display: flex;
    justify-content: center;
}
.back-to-top:hover i{
    color: var(--secondary-color-1);
}
.btn-lg-square{
    width: 45px;
    height: 45px;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}